{% extends 'base.html' %}
{% block content %}
<div class="container" style="max-width:900px">
  <div class="card border-0 shadow-soft p-4">
    <h3>Personal Profile</h3>
    <form method="post" class="row g-3 mt-1">
      <div class="col-md-6"><label class="form-label">Name</label><input class="form-control" name="name" value="{{ user.name }}"></div>
      <div class="col-md-6"><label class="form-label">Institution</label><input class="form-control" name="institution" value="{{ user.institution }}"></div>
      <div class="col-md-6"><label class="form-label">Program</label><input class="form-control" name="program" value="{{ user.program }}"></div>
      <div class="col-md-6"><label class="form-label">Academic Year</label><input class="form-control" name="year" value="{{ user.year }}"></div>
      <div class="col-12"><label class="form-label">Learning Bio</label><textarea class="form-control" name="bio" rows="4">{{ user.bio }}</textarea></div>
      <div class="col-12"><button class="btn btn-primary">Save Profile</button></div>
    </form>
  </div>
</div>
{% endblock %}
